 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(bei.jpg)no-repeat;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding: 5px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 10px;
}

.banner {
    text-align: center;
    background-color: #ccc;
    padding: 50px 0;
}

.banner h1 {
    margin-bottom: 10px;
}

.banner.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.featured-games {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game-card {
    width: 25%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.game-card img {
    width: 100%;
    height: auto;
}

.news-section article {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}
